functions-framework==3.*
google-cloud-firestore==2.*
google-cloud
google-cloud-storage
google-api-core>=2.10.0
urllib3==1.26.12
google-cloud
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-logging
google-cloud-pubsub